
/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/* regole container navbar */
.container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

/* regole prima meta navbar */
.container-first-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

/* regole seconda meta navbar */
.container-second-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* regole logo navbar */
.logo{
    display: flex;
}

/* regole primo ul */
.container-primo-ul{
    display: flex;    
    padding-left: 35px;
}

.container-primo-ul ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-size: 16px;
    height: 74px;
}

.container-primo-ul ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 74px;
    line-height: 74px;
}

/* regole hover primo ul */
.container-primo-ul ul li a:hover{
    border-bottom: 1px solid black;
}

/* regole secondo ul */
.container-secondo-ul{
    display: flex;
    padding-right: 20px;
}

.container-secondo-ul ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-size: 16px;
    height: 74px;
}

.container-secondo-ul ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 74px;
    line-height: 74px;
}

/* regole hover secondo ul */
.container-secondo-ul ul li a:hover{
    border-bottom: 1px solid black;
}

/* regole botone blu */

#container-bottone{
    padding-right: 20px;
}

.bottone-blu{
    background-color: rgb(30, 116, 255);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgb(30, 116, 255);
    text-decoration: none ;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.bottone-blu:hover{
    background-color: rgb(98, 157, 251);
}

.container-jumbotrone{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    padding-top: 100px;
    background-color: rgb(147, 174, 203);
}

.container-titolo-jumbotrone{
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.container-contenuto-jumbotrone{
    width: 70%;
    display: flex;
    justify-content: center;
}
.container-parte-scritta-jumbotrone{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 24px;
}

.container-img-jumbotrone{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.container-img-jumbotrone img{
    width: 115%;
    height: auto;

}

.freccia i{
    color: black;
    font-size: 70px;
    padding-top: 30px;
}


/* regole container abbonamenti */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-abbonamenti{
    width: 60%;
    padding-top: 150px;
}

#titolo-abbonamenti{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bottone-abbonamenti-selezionato{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid rgb(30, 116, 255);
}

.bottone-abbonamenti-non-selezionato{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}

.container-bottoni{
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}

.sezione-abbonamenti{
    display: flex;
    gap: 50px;
}

.sezione-abbonamenti-text{
    display:flex ;
    gap: 50px;
   
}

#primo-testo{
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  padding: 10px 100px; 
}

#secondo-testo{
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px 100px; 
}

#terzo-testo{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    padding: 10px 100px; 
}
.container-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}
    
.container-card h3{
    margin-bottom: 25px;
}

.mese{
    display: block;
    padding-top: 10px;
    padding-bottom: 40px;
    color: rgb(187, 187, 187);
}

.container-primo-ul-card{
    list-style-type: none;
}

.container-primo-ul-card li{
    padding-bottom: 20px;
}

.container-bottone-blu{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.acquista-ora {
    color: rgb(8, 59, 243);
}

.linea{
    width: 55px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h5{
    font-size: 16px;
    margin-bottom: 30px;
}

.titolo-card{
    font-size: 17px;
    text-align: center;
    padding: 7px 0px;
    border-bottom: 1px solid gray ;
    font-weight: normal;
}

.padding{
    padding: 30px;
}

h3{
    font-size: 22px;
}

.container-card-orizzontale{
    width: 100%;
    border: 1px solid gray;
    margin-top: 40px;
}

.card-orizzontale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.container-card-orizzontale h2{
    font-size: 17px;
}

.enterprice{
    padding: 35px 0px 15px 0px;
}

.testo-container-orizzontale{
    padding: 40px 30px;
    width: 70%;
}

.container-partner{
    width: 60%;
    padding-top: 300px;
    display: flex;
}

.container-partner-img {
    width: 65%;
}

.container-partner-img img{
    width: 100%;
}

.container-partner-text{
    width: 35%;
}

.container-partner-text h3{
    padding: 40px 0px 25px 40px;
}

.container-partner-text p{
    padding: 0px 0px 30px 40px;
    line-height: 25px;
}

.bottone-bianco{
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none ;
    font-family: 'Open Sans';
    font-weight: lighter;
    margin-left: 40px;
}

.bottone-bianco:hover{
    background-color: rgb(181, 181, 181);
}

.container-griglia{
    width: 60%;
}

.card-griglia{
    width: calc((100% / 3) - 20px);
    /* padding: 30px; */
}

.card-griglia-img img{
    width: 90%;
}

.inner-griglia{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.titolo-griglia{
    font-size: 34px;
    margin-top: 150px;
    margin-bottom: 60px;
}
.card-griglia p{
    margin-top: 30px;
}

.container-scopridipiu{
    width: 60%;
    margin-top: 250px;
}

.scopridipiu{
    width: 60%;
}
.scopridipiu h2{
    font-size: 34px;
    margin-bottom: 60px;
}

.link{
    color: blue;
}

